@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #84E0AD;

}

img {
    width: 100%;
}

header {
    font-family: 'Bebas Neue', cursive;
    background-color: darkred;
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom , #5EC28E, #195C39);
    margin: -22px -8px -20px -9px;
}

header > p {
    text-align: center;
}

header > nav {
    width: 400px;

}

nav > a {
    text-decoration: none;
    color: white;
    /*border: 5px solid blue;*/
}

a {
    padding: 10px;
}

nav > a:link {
    text-decoration: none;
    color: white;
}

main {
    background-color: white;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}

p {
    text-align: justify;
    text-indent: 30px;
}

main > h2 {
    font-family: 'idroid' , Arial, sans-serif;
    color: #2C5841;
    text-align: left;
    text-indent: 10px;
}

div {
    border-radius: 15px;
    margin: 10px 214px 10px 214px;
    height: 480px;
}

div > h3 {
    font-family: 'Bebas Neue', cursive;
    border-radius: 15px 15px 0px 0px;
    background-color: #2FA865;
    color: white;
    text-indent: 10px;
    text-align: left;
}

.sed {
    background-color: #b3f9c8ad;
    font-family: 'idroid' , Arial, sans-serif;
    color: #2C5841;
}

div {
    background-color: #C5EBD6;
}



footer {
    background-color: #1A5C38;
    margin: 10px -8px 10px -8px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: white;
}